<pre class="highlight ruby"><code><span class="k">class</span> <span class="nc">Email</span>
  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">subject</span><span class="p">,</span> <span class="n">date</span><span class="p">,</span> <span class="n">from</span><span class="p">)</span>
    <span class="vi">@subject</span> <span class="o">=</span> <span class="n">subject</span>
    <span class="vi">@date</span> <span class="o">=</span> <span class="n">date</span>
    <span class="vi">@from</span> <span class="o">=</span> <span class="n">from</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">subject</span>
    <span class="vi">@subject</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">date</span>
    <span class="vi">@date</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">from</span>
    <span class="vi">@from</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="n">email</span> <span class="o">=</span> <span class="no">Email</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="s2">"Homework this week"</span><span class="p">,</span> <span class="s2">"2014-12-01"</span><span class="p">,</span> <span class="s2">"Ferdous"</span><span class="p">)</span>

<span class="nb">puts</span> <span class="s2">"Date:    </span><span class="si">#{</span><span class="n">email</span><span class="p">.</span><span class="nf">date</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"From:    </span><span class="si">#{</span><span class="n">email</span><span class="p">.</span><span class="nf">from</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"Subject: </span><span class="si">#{</span><span class="n">email</span><span class="p">.</span><span class="nf">subject</span><span class="si">}</span><span class="s2">"</span>
</code></pre>
