<pre class="highlight ruby"><code><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span> <span class="ss">:one</span> <span class="o">=&gt;</span> <span class="s1">'uno'</span><span class="p">,</span> <span class="ss">:two</span> <span class="o">=&gt;</span> <span class="s1">'dos'</span><span class="p">,</span> <span class="ss">:three</span> <span class="o">=&gt;</span> <span class="s1">'tres'</span> <span class="p">}</span>
<span class="n">dictionary</span><span class="p">[</span><span class="ss">:four</span><span class="p">]</span> <span class="o">=</span> <span class="s1">'cuatro'</span>
<span class="nb">puts</span> <span class="n">dictionary</span><span class="p">[</span><span class="ss">:four</span><span class="p">]</span>
</code></pre>
