<pre class="highlight ruby"><code><span class="k">class</span> <span class="nc">Email</span>
  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">subject</span><span class="p">,</span> <span class="n">headers</span><span class="p">)</span>
    <span class="vi">@subject</span> <span class="o">=</span> <span class="n">subject</span>
    <span class="vi">@headers</span> <span class="o">=</span> <span class="n">headers</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">subject</span>
    <span class="vi">@subject</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">date</span>
    <span class="vi">@headers</span><span class="p">[</span><span class="ss">:date</span><span class="p">]</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">from</span>
    <span class="vi">@headers</span><span class="p">[</span><span class="ss">:from</span><span class="p">]</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="k">class</span> <span class="nc">Mailbox</span>
  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="nb">name</span><span class="p">,</span> <span class="n">emails</span><span class="p">)</span>
    <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span>
    <span class="vi">@emails</span> <span class="o">=</span> <span class="n">emails</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">name</span>
    <span class="vi">@name</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">emails</span>
    <span class="vi">@emails</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="n">emails</span> <span class="o">=</span> <span class="p">[</span>
  <span class="no">Email</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="s2">"Homework this week"</span><span class="p">,</span> <span class="p">{</span> <span class="ss">:date</span> <span class="o">=&gt;</span> <span class="s2">"2014-12-01"</span><span class="p">,</span> <span class="ss">:from</span> <span class="o">=&gt;</span> <span class="s2">"Ferdous"</span> <span class="p">}),</span>
  <span class="no">Email</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="s2">"Keep on coding! :)"</span><span class="p">,</span> <span class="p">{</span> <span class="ss">:date</span> <span class="o">=&gt;</span> <span class="s2">"2014-12-01"</span><span class="p">,</span> <span class="ss">:from</span> <span class="o">=&gt;</span> <span class="s2">"Dajana"</span> <span class="p">}),</span>
  <span class="no">Email</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="s2">"Re: Homework this week"</span><span class="p">,</span> <span class="p">{</span> <span class="ss">:date</span> <span class="o">=&gt;</span> <span class="s2">"2014-12-02"</span><span class="p">,</span> <span class="ss">:from</span> <span class="o">=&gt;</span> <span class="s2">"Ariane"</span> <span class="p">})</span>
<span class="p">]</span>
<span class="n">mailbox</span> <span class="o">=</span> <span class="no">Mailbox</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="s2">"Ruby Study Group"</span><span class="p">,</span> <span class="n">emails</span><span class="p">)</span>

<span class="n">mailbox</span><span class="p">.</span><span class="nf">emails</span><span class="p">.</span><span class="nf">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">email</span><span class="o">|</span>
  <span class="nb">puts</span> <span class="s2">"Date:    </span><span class="si">#{</span><span class="n">email</span><span class="p">.</span><span class="nf">date</span><span class="si">}</span><span class="s2">"</span>
  <span class="nb">puts</span> <span class="s2">"From:    </span><span class="si">#{</span><span class="n">email</span><span class="p">.</span><span class="nf">from</span><span class="si">}</span><span class="s2">"</span>
  <span class="nb">puts</span> <span class="s2">"Subject: </span><span class="si">#{</span><span class="n">email</span><span class="p">.</span><span class="nf">subject</span><span class="si">}</span><span class="s2">"</span>
  <span class="nb">puts</span>
<span class="k">end</span>
</code></pre>
