<pre class="highlight ruby"><code><span class="k">def</span> <span class="nf">miles_to_kilometers</span><span class="p">(</span><span class="n">miles</span><span class="p">)</span>
  <span class="n">miles</span> <span class="o">*</span> <span class="mi">1</span><span class="o">.</span><span class="mi">60934</span>
<span class="k">end</span>
</code></pre>
