<pre class="highlight ruby"><code><span class="s2">"Ruby"</span><span class="p">.</span><span class="nf">ljust</span><span class="p">(</span><span class="mi">10</span><span class="p">,</span> <span class="s1">'&lt;3'</span><span class="p">)</span>
</code></pre>
