<pre class="highlight ruby"><code><span class="s2">"Learning Ruby"</span><span class="p">.</span><span class="nf">delete</span><span class="p">(</span><span class="s1">'aeiuy'</span><span class="p">)</span>
</code></pre>
