<pre class="highlight ruby"><code><span class="s2">"Ruby"</span><span class="p">.</span><span class="nf">prepend</span><span class="p">(</span><span class="s2">"Learning "</span><span class="p">)</span>
</code></pre>
