<pre class="highlight ruby"><code><span class="mi">3</span>

<span class="c1"># Remember the position of the first element in Arrays is referred</span>
<span class="c1"># to as 0, not 1.</span>
</code></pre>
