<pre class="highlight ruby"><code><span class="n">words</span> <span class="o">=</span> <span class="p">[</span><span class="s2">"one"</span><span class="p">,</span> <span class="s2">"two"</span><span class="p">,</span> <span class="s2">"three"</span><span class="p">,</span> <span class="s2">"four"</span><span class="p">,</span> <span class="s2">"five"</span><span class="p">]</span>
<span class="n">words</span><span class="p">.</span><span class="nf">delete</span><span class="p">(</span><span class="s2">"two"</span><span class="p">)</span>
<span class="n">words</span><span class="p">.</span><span class="nf">delete</span><span class="p">(</span><span class="s2">"four"</span><span class="p">)</span>

<span class="c1"># better solutions:</span>
<span class="c1"># words = words.reject { |word| word == "two" or word == "four" }</span>
<span class="c1"># words = words.select.with_index { |word, ix| ix.even? }</span>

<span class="nb">p</span> <span class="n">words</span>
</code></pre>
