<pre class="highlight ruby"><code><span class="n">numbers</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">4</span><span class="p">,</span> <span class="mi">5</span><span class="p">,</span> <span class="mi">6</span><span class="p">]</span>
<span class="n">numbers</span> <span class="o">=</span> <span class="p">[</span><span class="n">numbers</span><span class="p">[</span><span class="mi">1</span><span class="p">],</span> <span class="n">numbers</span><span class="p">[</span><span class="mi">3</span><span class="p">],</span> <span class="n">numbers</span><span class="p">[</span><span class="mi">5</span><span class="p">]]</span>
<span class="n">numbers</span> <span class="o">=</span> <span class="n">numbers</span><span class="p">.</span><span class="nf">reverse</span>
<span class="nb">p</span> <span class="n">numbers</span>
</code></pre>
