<pre class="highlight ruby"><code><span class="n">languages</span> <span class="o">=</span> <span class="p">{</span>
  <span class="ss">:de</span> <span class="o">=&gt;</span> <span class="s1">'German'</span><span class="p">,</span>
  <span class="ss">:en</span> <span class="o">=&gt;</span> <span class="s1">'English'</span><span class="p">,</span>
  <span class="ss">:es</span> <span class="o">=&gt;</span> <span class="s1">'Spanish'</span><span class="p">,</span>
<span class="p">}</span>
<span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>
  <span class="ss">:de</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="ss">:one</span> <span class="o">=&gt;</span> <span class="s1">'eins'</span><span class="p">,</span> <span class="ss">:two</span> <span class="o">=&gt;</span> <span class="s1">'zwei'</span><span class="p">,</span> <span class="ss">:three</span> <span class="o">=&gt;</span> <span class="s1">'drei'</span> <span class="p">},</span>
  <span class="ss">:en</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="ss">:one</span> <span class="o">=&gt;</span> <span class="s1">'one'</span><span class="p">,</span> <span class="ss">:two</span> <span class="o">=&gt;</span> <span class="s1">'two'</span><span class="p">,</span> <span class="ss">:three</span> <span class="o">=&gt;</span> <span class="s1">'three'</span> <span class="p">},</span>
  <span class="ss">:es</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="ss">:one</span> <span class="o">=&gt;</span> <span class="s1">'uno'</span><span class="p">,</span> <span class="ss">:two</span> <span class="o">=&gt;</span> <span class="s1">'dos'</span><span class="p">,</span> <span class="ss">:three</span> <span class="o">=&gt;</span> <span class="s1">'tres'</span> <span class="p">}</span>
<span class="p">}</span>

<span class="n">selected</span> <span class="o">=</span> <span class="n">languages</span><span class="p">.</span><span class="nf">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">words</span><span class="o">|</span>
  <span class="n">key</span> <span class="o">==</span> <span class="ss">:de</span> <span class="n">or</span> <span class="n">key</span> <span class="o">==</span> <span class="ss">:es</span>
<span class="k">end</span>

<span class="n">lines</span> <span class="o">=</span> <span class="n">selected</span><span class="p">.</span><span class="nf">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="nb">name</span><span class="o">|</span>
  <span class="n">words</span> <span class="o">=</span> <span class="n">dictionary</span><span class="p">[</span><span class="n">key</span><span class="p">]</span>
  <span class="n">parts</span> <span class="o">=</span> <span class="n">words</span><span class="p">.</span><span class="nf">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">word</span><span class="o">|</span> <span class="s2">"</span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2"> means </span><span class="si">#{</span><span class="n">word</span><span class="si">}</span><span class="s2">"</span> <span class="p">}</span>
  <span class="s2">"In </span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">, </span><span class="si">#{</span><span class="n">parts</span><span class="p">.</span><span class="nf">join</span><span class="p">(</span><span class="s2">", "</span><span class="p">)</span><span class="si">}</span><span class="s2">."</span>
<span class="k">end</span>

<span class="nb">puts</span> <span class="n">lines</span><span class="p">.</span><span class="nf">join</span><span class="p">(</span><span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">)</span>
</code></pre>
