<pre class="highlight ruby"><code><span class="s2">"1.23"</span><span class="p">.</span><span class="nf">to_f</span>
<span class="s2">"1"</span><span class="p">.</span><span class="nf">to_i</span>
</code></pre>
